<script>
  function switchTab(type) {
    if (type === 'tab1') {
      document.getElementById('content1').style.display = 'block'
      document.getElementById('content2').style.display = 'none'
      document.getElementById('content3').style.display = 'none'

      document.getElementsByClassName('tab1')[0].classList.add('selected')
      document.getElementsByClassName('tab2')[0].classList.remove('selected')
      document.getElementsByClassName('tab3')[0].classList.remove('selected')
    } else if (type === 'tab2') {
      document.getElementById('content1').style.display = 'none'
      document.getElementById('content2').style.display = 'block'
      document.getElementById('content3').style.display = 'none'

      document.getElementsByClassName('tab1')[0].classList.remove('selected')
      document.getElementsByClassName('tab2')[0].classList.add('selected')
      document.getElementsByClassName('tab3')[0].classList.remove('selected')
    } else if (type === 'tab3') {
      document.getElementById('content1').style.display = 'none'
      document.getElementById('content2').style.display = 'none'
      document.getElementById('content3').style.display = 'block'

      document.getElementsByClassName('tab1')[0].classList.remove('selected')
      document.getElementsByClassName('tab2')[0].classList.remove('selected')
      document.getElementsByClassName('tab3')[0].classList.add('selected')
    }
  }
</script>
<div class="container">
  <div class="tab">
    <ul>
      <li><button onclick="switchTab('tab1')" class="tab1 selected">昨日のランキング</button></li>
      <li><button onclick="switchTab('tab2')" class="tab2">今日の午前</button></li>
      <li><button onclick="switchTab('tab3')" class="tab3">今日の午後</button></li>
    </ul>
  </div>

  <div class="fav_tweets" id="content1">
    <% @content1.each_with_index do |result, i| %>
      <div class="tweet">
        <div class="left">
          <div class="rank">
            <p><%= i + 1 %></p>
          </div>
          <img src="<%= result.user.profile_image_uri %>" alt="">
        </div>
        <div class="right">
          <div>
            <a href="<%= result.user.uri %>" target="_blank"><%= result.user.name %> @<%= result.user.screen_name %></a>
          </div>
          <div>
            <p> <%= result.text %></p>
          </div>
          <div>
            <a href=""><img src="" alt=""></a>
          </div>
          <div>
            <% if result.media.present? %>
              <% result.media.each do |media| %>
                <% if media.class.ancestors.include?(Twitter::Media::Video) %>
                  <video src="<%= media.media_url_https %>">
                <% else %>
                  <img src="<%= media.media_url_https %>">
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="status">
            <p>RT:<%= result.retweet_count %> Fav:<%= result.favorite_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ret_tweets" id="content2">
    <% @content2.each_with_index do |result, i| %>
      <div class="tweet">
        <div class="left">
          <div class="rank">
            <p><%= i + 1 %></p>
          </div>
          <img src="<%= result.user.profile_image_uri %>" alt="">
        </div>
        <div class="right">
          <div>
            <a href="#"><%= result.user.name%> @<%= result.user.screen_name%></a>
          </div>
          <div>
            <p><%= result.text %></p>
          </div>
          <div>
            <% if result.media.present? %>
              <% result.media.each do |media| %>
                <% if media.class.ancestors.include?(Twitter::Media::Video) %>
                  <video src="<%= media.media_url_https %>"></video>
                <% else %>
                  <img src="<%= media.media_url_https %>"></video>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="status">
            <p>RT:<%= result.retweet_count %> Fav:<%= result.favorite_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ret_tweets" id="content3">
    <% @content3.each_with_index do |result, i| %>
      <div class="tweet">
        <div class="left">
          <div class="rank">
            <p><%= i + 1 %></p>
          </div>
          <img src="<%= result.user.profile_image_uri %>" alt="">
        </div>
        <div class="right">
          <div>
            <a href="<%= result.user.uri %>" target="_blank"><%= result.user.name %> @<%= result.user.screen_name %></a>
          </div>
          <div>
            <p> <%= result.text %></p>
          </div>
          <div>
            <a href=""><img src="" alt=""></a>
          </div>
          <div>
            <% if result.media.present? %>
              <% result.media.each do |media| %>
                <% if media.class.ancestors.include?(Twitter::Media::Video) %>
                  <video src="<%= media.media_url_https %>">
                <% else %>
                  <img src="<%= media.media_url_https %>">
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="status">
            <p>RT:<%= result.retweet_count %> Fav:<%= result.favorite_count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="footer"></div>
</div>




<!-- @results.first.user.profile_image_uri -->
